<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yll.mapper.TeacherMapper">

    <resultMap id="customMap" type="Teacher">
        <result property="id" column="tid"/>
        <result property="name" column="tname"/>
        <collection property="studentList" ofType="user">
            <result property="id" column="sid"/>
            <result property="name" column="name"/>
        </collection>
    </resultMap>

    <select id="getTeacherList" resultMap="customMap">
        select s.id sid, s.name sname, t.name tname, t.id tid
        from teacher t
                 left join student s on s.tid = t.id
    </select>
</mapper>
