<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yll.mapper.CacheUserMapper">

    <!--开启mybatis二级缓存-->
<!--    <cache/>-->
    <!--定制化二级缓存
    FIFO:先进先出 LRU:最近最少使用
    flushInterval：刷新间隔 60s
    size: 最多存储对象引用数 512
    readOnly：返回对象只读 false（默认）：对象需要实现序列化，因为要返回对象的拷贝（安全）；
                        true时返回对象，不需要实现序列化
    -->
    <cache
            eviction="FIFO"
            flushInterval="60000"
            size="512"
            readOnly="true"/>

    <update id="update">
        update user
        set name = #{name},
            pwd  = #{pwd}
        where id = #{id}
    </update>

    <select id="getById" resultType="com.yll.pojo.CacheUser" >
        select *
        from user
        where id = #{id}
    </select>
</mapper>
